body {
  font-family: "JetBrains Mono", monospace;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  background-color: #121212;
  color: #e0e0e0;
}
textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #333;
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 5px;
  resize: vertical;
  font-family: "JetBrains Mono", monospace;
  field-sizing: content;
}
button {
  padding: 10px;
  background-color: #244444;
  color: #e0e0e0;
  border: none;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #255555;
}
h1,
h2,
h3 {
  color: #e0e0e0;
}
p {
  color: #b0b0b0;
}
a {
  color: #80cccc;
  text-decoration: none;
}
a:hover {
  color: #60aaaa;
  text-decoration: underline;
}
button:focus,
textarea:focus,
button:focus {
  outline: 2px solid #4cafac;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 6px;
  border: 3px solid #1e1e1e;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.home-link {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  transition: color 0.2s;
  margin-top: 30px;
}

.home-link:hover {
  color: #333;
}